@import "~bootstrap/scss/bootstrap.scss";

.titulo{
    text-align: center;
}
.tarea{
    text-align: center;
}
body{
    text-align: center;
    
}
.formulario{
    background-color: beige;
    height: 500px;
    width: 500px;
    margin: auto;
    border: solid 1px bisque;
    border-radius: 4px;
}
